.ImagesList {
  margin-top: 40px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

img {
  margin: 40px;
  opacity: 0.9;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 1);
}
